<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipi.kottarido.supersound.supersound">

    <!-- Permission gia location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- permission to let music playback continue when the user's device becomes idle -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- permision gia reead external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name ="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SetUpProfileActivity"
            android:label="@string/set_up_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MusicPreferencesActivity"
            android:label="@string/music_preferences"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddSongsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".POIsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddPoiActivity" />

        <activity android:name=".MusicPlayerActivity"/>
    </application>

</manifest>